<section class="abt-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="_head_01">
            <h2>Services</h2>
            <p>Home<i class="fal fa-angle-double-right"></i><span>Services</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section class="bg-01">
    <div class="container">

      <div class="set-wrapper">
        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="far fa-book"></i>
            </div>
            <div class="content">
              <h3>VARITY COURSES</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="far fa-tag"></i>
            </div>
            <div class="content">
              <h3>ATTRACTIVE PRICES</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-calendar-star"></i>
            </div>
            <div class="content">
              <h3>EVENTS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TALLENTED TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
         <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
         <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
         <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
         <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-02">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR ACTIVITIES</h2>
          </div>
        </div>

        <div class="wrapper-bg-02">
          <div class="sub-content">
            <div class="sub-items">
              <ul>
                <li>CUSTOM FOOD
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>MUSIC LESSON
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>MANY SPORTS
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>BUS SERVICE
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>EXCURSIONS
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>LANGUAGES
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="sub-content card-01">
            <div class="sub-content">
              <img src="../../assets/Main-Template/images/2.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">90</div>
            <h5>TEACHERS</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">67</div>
            <h5>COURSES</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">80</div>
            <h5>LESSONS</h5>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">100</div>
            <h5>ACTIVITIES</h5>
          </div>
        </div>
      </div>
    </div>
  </section>