<section class="abt-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="_head_01">
            <h2>About Us</h2>
            <p>Home<i class="fal fa-angle-double-right"></i><span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  ************************* About Us Starts Here ************************** -->    
 
<div class="about-us container-fluid">
<div class="container">

  <div class="row natur-row no-margin w-100">
      <div class="text-part col-md-6">
          <h2>About Smart Group</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius faucibus
              ligula non congue. Suspendisse at pretium massa, sit amet
              vulputate nibh. Nam posuere eros dolor. Donec vel arcu sagittis, pretium nisl </p>
          <p> Cras faucibus laoreet nibh, sit amet tincidunt leo mollis in. Etiam eu mauris metus.
              Nulla facilisi. Etiam vestibulum,
              nisi et convallis elementum, leo orci aliquam metus, id posuere massa neque vitae
              arcu.</p>

          <p>Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien,
              eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et
              . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit
              amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at
              dapibus elit bibendum consequat. Cras faucibus tellus eleifend, fermentum purus in,
              dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida
              vestibulum, urna justo posuere ante,
              id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus </p>
      </div>
      <div class="image-part col-md-6">
          <img src="../../assets/Main-Template/images/about.jpg" alt="">
      </div>
  </div>
</div>
</div> 
 

  

  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div class="counting" data-count="1000">90</div>
            <h5>TEACHERS</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div class="counting" data-count="1000">67</div>
            <h5>COURSES</h5>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div class="counting" data-count="1000">80</div>
            <h5>LESSONS</h5>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="_lk_bg_cd">
            <div class="counting" data-count="1000">100</div>
            <h5>ACTIVITIES</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-04-a">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR TEAM</h2>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="../../assets/Main-Template/images/team/1.png">
            </div>
            <div class="team-content">
              <h3>Merv Adrian</h3>
              <b>Maths teacher</b>
              <div class="social">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                  <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="../../assets/Main-Template/images/team/2.png">
            </div>
            <div class="team-content">
              <h3>Kirk Borne</h3>
              <b>Science teacher</b>
              <div class="social">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                  <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="../../assets/Main-Template/images/team/3.png">
            </div>
            <div class="team-content">
              <h3>Merv Adrian</h3>
              <b>Language teacher</b>
              <div class="social">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                  <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="../../assets/Main-Template/images/team/4.png">
            </div>
            <div class="team-content">
              <h3>Merv Adrian</h3>
              <b>Social teacher</b>
              <div class="social">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-instagram"></i></li>
                  <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>