<header>
    <div class="main-nav">
      <div class="container">
        <div class="row">
          <div class="menu-toggle"></div>
          <div class="logo">
            <img src="../../assets/Main-Template/images/logo-01.png">
          </div>


          
          <div class="my-nav">
            <div class="menu">
              <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/contactus">Contact Us</a></li>
                <button routerLink="/security/login">Login</button>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
