<main>
    <header>
      <div class="main-nav">
        <div class="container">
          <div class="row">
            <div class="menu-toggle"></div>
            <div class="logo">
              <img src="../../assets/Main-Template/images/logo-01.png">
            </div>

            <div class="my-nav">
              <div class="menu">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="_head_01">
              <h2>Blog</h2>
              <p>Home<i class="fal fa-angle-double-right"></i><span>Blog</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-04">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading">
                <h2>OUR NEWS</h2>
              </div>
            </div>

              <div class="blog-main-card d-flex">
                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-02.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>

                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-01.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>

                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-03.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>

                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-04.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>

                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-05.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>

                  <article class="blog-sub">
                      <div class="blog-content">
                          <img src="../../assets/Main-Template/images/blog/img-06.jpg">
                      </div>
                      <div class="blog-content-section">
                          <div class="blo-content-title">
                              <h4>Capitalize on low hanging fruit to identify ballpark</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium 
                                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>
                          </div>
                          <div class="blog-admin">
                              <ol>
                                  <li><i class="fal fa-user-tie"></i> By Admin</li>
                                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                              </ol>
                          </div>
                      </div>
                  </article>
              </div>
          </div>
      </div>
  </section>

    <section class="bg-01">
      <div class="container">
        <div class="set-wrapper">
          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="far fa-book"></i>
              </div>
              <div class="content">
                <h3>COURSES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="far fa-tag"></i>
              </div>
              <div class="content">
                <h3>PRICES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="fal fa-calendar-star"></i>
              </div>
              <div class="content">
                <h3>EVENTS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
              </div>
            </div>
          </div>

          <div class="box">
            <div class="box-items">
              <div class="icon">
                <i class="fal fa-chalkboard-teacher"></i>
              </div>
              <div class="content">
                <h3>TEACHERS</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-02">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>OUR ACTIVITIES</h2>
            </div>
          </div>

          <div class="wrapper-bg-02">
            <div class="sub-content">
              <div class="sub-items">
                <ul>
                  <li>CUSTOM FOOD
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                  <li>MUSIC LESSON
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                  <li>MANY SPORTS
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                  <li>BUS SERVICE
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                  <li>EXCURSIONS
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                  <li>LANGUAGES
                    <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="sub-content card-01">
              <div class="sub-content">
                <img src="../../assets/Main-Template/images/2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">90</div>
              <h5>TEACHERS</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">67</div>
              <h5>COURSES</h5>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">80</div>
              <h5>LESSONS</h5>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="_lk_bg_cd">
              <div style="color:#fff;font-size:20px;" class="counting" data-count="1000">100</div>
              <h5>ACTIVITIES</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-04-a">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>OUR TEAM</h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="../../assets/Main-Template/images/team/1.png">
              </div>
              <div class="team-content">
                <h3>Merv Adrian</h3>
                <b>Maths teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="../../assets/Main-Template/images/team/2.png">
              </div>
              <div class="team-content">
                <h3>Kirk Borne</h3>
                <b>Science teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="../../assets/Main-Template/images/team/3.png">
              </div>
              <div class="team-content">
                <h3>Merv Adrian</h3>
                <b>Language teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 sm-6 col-12">
            <div class="team-main">
              <div class="img">
                <img src="../../assets/Main-Template/images/team/4.png">
              </div>
              <div class="team-content">
                <h3>Merv Adrian</h3>
                <b>Social teacher</b>
                <div class="social">
                  <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>