<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="fotter-content">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut recusandae laboriosam praesentium quisquam voluptatibus. Rerum eligendi magnam impedit soluta voluptatem</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="fotter-content">
            <h2>Quick Links</h2>
            <ul>
              <li><i class="fal fa-chevron-double-right"></i>Home</li>
              <li><i class="fal fa-chevron-double-right"></i>About Us</li>
              <li><i class="fal fa-chevron-double-right"></i>Services</li>
              <li><i class="fal fa-chevron-double-right"></i>Blog</li>
              <li><i class="fal fa-chevron-double-right"></i>Contact Us</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="fotter-content">
            <h2>Address</h2>
            <ol>
              <li><i class="fal fa-map-marker-check"></i>First Floor,Vincent Plaza, Kuzhithurai,Marthandam, Kanyakumari Dist
                Tamilnadu, India - 629163</li>

              <li><i class="fal fa-envelope"></i>sales@smarteyeapps.com</li>
              <li><i class="fal fa-phone-volume"></i>+91 9751791203</li>
            </ol>
          </div>
        </div>
        <div class="col-12">
          <div class="end-footer">
            <p>Copyright ©2020 smarteyeapps. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>